.contenedor{
  
    display: flex;
    background-color: blue;
    padding: 0.25rem;
    height: 100vw;
}
.contenedor-izquierda{
    display: flex;
    gap: 0.5rem;
    margin: 0 0.25rem;
   
}
.contenedor-derecha{
    background-color: grey;
    flex-grow: 1;
    margin: 0 0.25rem;
}
.item{
    background-color: salmon;
    padding: 0.25rem;
   
   
}
@media (max-width: 640px){
    .contenedor-izquierda{
        flex-direction: column;
        justify-content: end;
    }
}